*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}
body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #9AD1ED; 

}
.login_container{
	background-color: #EFEFEF;
	width: 350px;
	height: auto;
}
.login_top{
	background-color: #EFEFEF;
	border-top: solid .5rem #F39B53;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.2rem 0;
}
.login_img{
	width: 4rem;
	margin-right: 1rem;
}
.login_tittle{
	color: #C8C8C8;
}
.login_title span{
	color: #F39B53;
}
.login_form{
	background: #EFEFEF;
	display: flex;
	flex-direction: column;
	padding: .5rem 2rem 2rem;
	text-align: center;
}
input[type=text], [type=password]{
	margin: .4rem 0;
	padding: .5rem;
	border: none;
	border-bottom: solid 0.2rem #C8C8C8;
	background: #EFEFEF;
	transition: all .4s;
}
input[type=text]:focus, [type=password]:focus{
	outline: none;
	border-bottom: solid 0.2rem #E67E22;
}
.btn_submit{
	border: none;
	padding: .5rem 0;
	margin: 1rem 0 .3rem;
	background-color: #31B1E5;
	color: white;
}
.form_recover{
	color: #F39B53;
	font-size: 13px;
	text-decoration: none;
}
.form_recover:hover{
	color: #E67E22;
}